.jumbotron,
.card-body,
.container,
.site-header {
  font-family: "Verdana", serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53c0fb;
  background: url("../img/cover_back.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: 0.25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color 0.15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087f7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

.form_main {
  margin-left: 540px;
  margin-top: 250px;
  width: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 30px 30px 30px 30px;
  box-shadow: 0px 0px 40px #ffffff;
  position: relative;
  overflow: hidden;
  border: solid 1px #f09100; 
  border-radius: 20px;
}


.heading {
  font-size: 2em;
  color: #f09100;
  font-weight: 700;
  margin: 5px 0 12px 0;
  z-index: 2;
  font-style: italic;
  
}

.inputContainer {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  color: #f09100;
}

.inputIcon {
  position: absolute;
  left: 3px;
}

.inputField {
  width: 100%;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.082);
  margin: 10px 0;
  color: #f09100;
  font-size: .8em;
  font-weight: 500;
  box-sizing: border-box;
  padding-left: 30px;
}

.inputField:focus {
  outline: none;
  border-bottom: 2px solid #f09100;
}

.inputField::placeholder {
  color: #f09100;
  font-size: 1em;
  font-weight: 500;
}

#button23 {
  z-index: 2;
  position: relative;
  width: 100%;
  border: solid 1px rgba(0, 0, 0, 0.082);
  border-radius: 10px;
  background-color: #f09100;;
  height: 30px;
  color: white;
  font-size: .8em;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 10px;
  cursor: pointer;
}

#button23:hover {
  background-color: rgba(240, 145, 0, 0.8);
  border: solid 1px white;
  transform: scale(1.09);

}


.forgotLink {
  z-index: 2;
  font-size: .7em;
  font-weight: 500;
  color: #f09100;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 20px;
}



.user-info{
  color: aliceblue;
  border: solid 1px white; 
  padding: 2px;
  border-radius: 10px;

}

#row2{
  border: solid #dfdfdf 1px;
  width: 1143px ;
  height: 80px;
  
}

.col-md-4:hover{
  transform: scale(1.09);

}

#row2:hover{
  transform: scale(1.09);
}






/* Estilos para el botón de enviar */
button {
  padding: 10px 20px; /* Añade espacio alrededor del texto del botón */
  font-size: 18px; /* Tamaño de fuente del botón */
  background-color: #ffba34; /* Color de fondo del botón */
  color: white; /* Color del texto del botón */
  border: none; /* Elimina el borde del botón */
  border-radius: 5px; /* Agrega bordes redondeados al botón */
  cursor: pointer; /* Cambia el cursor a una mano cuando se pasa sobre el botón, indicando que se puede hacer clic */
}

/* Estilos para el botón de enviar cuando se pasa el cursor sobre él */
button:hover {
  background-color: #f3a915; /* Cambia el color de fondo del botón al pasar el cursor sobre él */
}


#comment-form{
  margin-top: 420px;
}

.cajadecomentarios{
  width: 500px;
  height: 100px;
  border: #dfdfdf 1px solid;
  
}

.estrellitas{
  padding: 5px; /* Añade espacio alrededor del texto del botón */
  font-size: 18px; /* Tamaño de fuente del botón */
  background-color: #ffba34; /* Color de fondo del botón */
  color: white; /* Color del texto del botón */
  border: none; /* Elimina el borde del botón */
  border-radius: 5px; /* Agrega bordes redondeados al botón */
  cursor: pointer; /* Cambia el cursor a una mano cuando se pasa sobre el botón, indicando que se puede hacer clic */
}

.estrellitas:hover {
  background-color: #f3a915; /* Cambia el color de fondo del botón al pasar el cursor sobre él */
}

.cajadecomentarios:hover{
  border: #f3a915 solid 1px;
  
}

.comentariosgente2 {
  list-style-type: none;
}

.comentariosgente3{
 
  padding: 10px;
}

.comentariosgente3:hover{
  background-color: #e2e1e1;
}

.productocompleto{
  padding: 10px;
  display: flex;
  border-radius: 10px;
  padding: 20px;
 float: left;
  
}

.productocompleto2{
  border-left: #dfdfdf 1px solid;
  border-right: #dfdfdf 1px solid;
  padding: 10px;
  display: block;
  width: 400px;
  padding: 20px;
  margin-left: 100px;
  float: right;
  margin-right: 30px;
 
 
  
}

.productocompleto2 button{
  margin-top: 5px;
}

.productocompleto2 img{
 width: 332px;
 border:none;
 border-radius: none;
 height: 138px;
 padding: 0px;
  
}
.checked {
  color: orange;
}   

#botoncarro{
  padding: 10px 20px; /* Añade espacio alrededor del texto del botón */
  font-size: 18px; /* Tamaño de fuente del botón */
  background-color: #f7e2ba; /* Color de fondo del botón */
  color: #f3a915; /* Color del texto del botón */
  border: none; /* Elimina el borde del botón */
  border-radius: 5px; /* Agrega bordes redondeados al botón */
  cursor: pointer; /* Cambia el cursor a una mano cuando se pasa sobre el botón, indicando que se puede hacer clic */
}

#botoncarro:hover{background-color: #f5d496; /* Cambia el color de fondo del botón al pasar el cursor sobre él */
}

.productogeneral{
  float: inline-end;

}

.imgchiquitas img{
  width: 130px;
  padding: 5px;
  float: left;
  margin-left: 5px;
  border: #dfdfdf solid 1px;
  margin-top: 20px;
}


.carousel img{
  width: 500px;
  height: 300px;
  border: #dfdfdf solid 1px;
  float: left;
  padding: 2px;
}

.botonesnuevosss{
  float: left;
  margin-left: 150px;
  margin-top: 10px;
  border-radius: 15px;
  
}

.carousel{
  margin-left: 20px;
  margin-top: 0px;
}

.related-product {
  display: inline-block;
  vertical-align: top; 
  margin-right: 10px;
}

.related-product h3 {
font-size: 22px;
}

.related-product img {
  max-width: 240px; 
  max-height: 240px; 
}



.related-product-list img{
  border: 1px solid #dfdfdf;
  padding: 2px ;
}


.related-product-list div{
  padding: 2px;
  border: 1px solid #dfdfdf;
}

.related-product-list div:hover{
  
  transform: scale(1.06);
}

#dropdownMenuButton1{
  background-color: rgba(240, 145, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

  /* Estilos para Modo Día */
  body.modo-dia {
    background-color: white;
    color: black;
}

/* Estilos para Modo Noche */
body.modo-noche {
    background-color: #333;
    color: white;
    
}

.modo-noche hr {
  border: #dfdfdf 1px solid;
}


.modo-noche .comentariosgente3:hover{
  background-color: #3d3d3d;
}

.modo-noche .cajadecomentarios{
  width: 500px;
  height: 100px;
  border: #dfdfdf 1px solid;
  background-color: #333;
  color: white;
}

.modo-noche button,.modo-noche #botoncarro ,.modo-noche .estrellitas ,.modo-noche .estrellitas:hover ,.modo-noche #botoncarro:hover {
  background-color: #252525;
  color: white;
  border: #dfdfdf 1px solid;
  
}

.modo-noche .dropdown-menu{
  background-color: #252525;
  
}

.dropdown-menu {
  background-color: #ffba34;;
}

.modo-noche .productocompleto2{
  border-left: #5e5e5e 2px solid;
  border-right: #5e5e5e 2px solid;
}

.modo-noche .imgchiquitas img{
  border: #dfdfdf 1px solid;
}

.modo-noche #logodeecomerceenproductos {
  -webkit-filter: grayscale(100%);
filter: grayscale(110%);
}

.modo-noche #dropdownMenuButton1{
  background-color: #252525;
}



.modo-noche #navbarNav a {
  color:#dfdfdf;
}

.navbar{
  width: 100%;
  display: table;
  background-color: #ffba34;
  }

  .modo-noche .navbar{
    width: 100%;
    display: table;
    background-color: #1f1f1f;
    }

#logodeecomerceenproductos{
  filter: brightness(1.1);
  mix-blend-mode: multiply;
}


:root {
  --color-green: #333;
  --color-red: #f3a915;
  --color-button: transparent;
  --color-black: #ffffff;
  
}
.switch-button {
  display: inline-block;
  margin-top: 9px;
  
  
  
}
.switch-button .switch-button__checkbox {
  display: none;
  
}
.switch-button .switch-button__label {
  background-color: var(--color-red);
  width: 3rem;
  height: 1.5rem;
  border-radius: 1.5rem;
  display: inline-block;
  position: relative;
}
.switch-button .switch-button__label:before {
  transition: .2s;
  display: block;
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--color-button);
  content: '';
  border-radius: 50%;
  box-shadow: inset 0px 0px 0px 1px var(--color-black);
}
.switch-button .switch-button__checkbox:checked + .switch-button__label {
  background-color: var(--color-green);
  
}
.switch-button .switch-button__checkbox:checked + .switch-button__label:before {
  transform: translateX(1.5rem);
}
